#GATEWAY_ADMIN {
  width: 100%;
  height: 100%;
  text-shadow: black 5px 5px 5px;
  font-size: 18px;
  color: #EEE;
  font-weight: normal;
  top: 0;
  left: 0;
  position: fixed;
  padding: 0.5em;
  display: flex;
}

#GATEWAY_ADMIN.hidden {
   display: none;
}

#GATEWAY_VERSION {
    display: flex;
    flex-direction: column;
    text-align-last: center;
    flex-basis: 20%;
}

#GATEWAY_VERSION-ELECTRON,
#GATEWAY_VERSION-MMNODE,
#GATEWAY_VERSION-NODE,
#GATEWAY_VERSION-NPM,
#GATEWAY_VERSION-OS,
#GATEWAY_VERSION-KERNEL,
#GATEWAY_VERSION-MM {
    display: flex;
    gap: 5px;
}

#GATEWAY_CPU {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    text-align-last: center;
}

#GATEWAY_CPU-TYPE,
#GATEWAY_CPU-SPEED,
#GATEWAY_CPU-USAGE,
#GATEWAY_CPU-GOVERNOR,
#GATEWAY_CPU-TEMP {
    display: flex;
    gap: 5px;
}

#GATEWAY_MEMORY {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    text-align-last: center;
}

#GATEWAY_MEMORY-ACTIVE,
#GATEWAY_MEMORY-SWAP {
    display: flex;
    gap: 5px;
}
